In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [18]:
path=r"C:\Users\piyus\OneDrive\Data_Files\IMDB_Dataset.csv"
IMDB_df=pd.read_csv(path)
IMDB_df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [3]:
IMDB_df.columns

Index(['review', 'sentiment'], dtype='object')

In [4]:
IMDB_df.keys()

Index(['review', 'sentiment'], dtype='object')

In [5]:
IMDB_df.index

RangeIndex(start=0, stop=50000, step=1)

In [6]:
p1=IMDB_df.corr(numeric_only=True)
p1

Empty DataFrame
Columns: []
Index: []

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder

In [22]:
IMDB_df['sentiment']=le.fit_transform(IMDB_df['sentiment'],)
IMDB_df['sentiment']

TypeError: LabelEncoder.fit_transform() missing 1 required positional argument: 'X'

In [24]:
path=r"C:\Users\piyus\OneDrive\Data_Files\all-data.csv"
IMDB_df=pd.read_csv(path)
IMDB_df

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
0,neutral,Technopolis plans to develop in stages an area...
1,negative,The international electronic industry company ...
2,positive,With the new production plant the company woul...
3,positive,According to the company 's updated strategy f...
4,positive,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...,...,...
4840,negative,LONDON MarketWatch -- Share prices ended lower...
4841,neutral,Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842,negative,Operating profit fell to EUR 35.4 mn from EUR ...
4843,negative,Net sales of the Paper segment decreased to EU...
4844,negative,Sales in Finland decreased by 10.5 % in Januar...

In [25]:
len(IMDB_df)

4845

In [38]:
d1=IMDB_df.select_dtypes(exclude="object").columns
d1

Index(['neutral'], dtype='object')

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder

In [30]:
le=LabelEncoder()
IMDB_df["neutral"]=le.fit_transform(IMDB_df["neutral"])
IMDB_df["neutral"]

0       1
1       0
2       2
3       2
4       2
       ..
4840    0
4841    1
4842    0
4843    0
4844    0
Name: neutral, Length: 4845, dtype: int32

In [31]:
IMDB_df

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
0,1,Technopolis plans to develop in stages an area...
1,0,The international electronic industry company ...
2,2,With the new production plant the company woul...
3,2,According to the company 's updated strategy f...
4,2,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...,...,...
4840,0,LONDON MarketWatch -- Share prices ended lower...
4841,1,Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842,0,Operating profit fell to EUR 35.4 mn from EUR ...
4843,0,Net sales of the Paper segment decreased to EU...
4844,0,Sales in Finland decreased by 10.5 % in Januar...

In [51]:
for i in d1:
    d={}
    labels=IMDB_df[i].unique()
    l1=len(labels)
    for j in range(l1):
        d[labels[j]]=j
    IMDB_df[i]=IMDB_df[i].map(d)
co=IMDB_df.colun
co

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
0,0,Technopolis plans to develop in stages an area...
1,1,The international electronic industry company ...
2,2,With the new production plant the company woul...
3,2,According to the company 's updated strategy f...
4,2,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...,...,...
4840,1,LONDON MarketWatch -- Share prices ended lower...
4841,0,Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842,1,Operating profit fell to EUR 35.4 mn from EUR ...
4843,1,Net sales of the Paper segment decreased to EU...
4844,1,Sales in Finland decreased by 10.5 % in Januar...

In [49]:
co=IMDB_df.corr(numeric_only=True)
co

         neutral
neutral      1.0

In [53]:
sns.heatmap(co["neutral"])

IndexError: Inconsistent shape between the condition and the input (got (4845, 1) and (4845,))